{% extends 'Admin/common_ad.html' %}
{% load static %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">View Selling Request</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/adminhome">Home</a></li>
                    <li class="breadcrumb-item text-white active">View Selling Request</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid bg-light overflow-hidden px-lg-0">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-11 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div>
                        <h1 class="mb-4" style="margin-left: 500px;">View </h1>
                        <h6 class="text-primary" style="margin-left: 490px;">Selling Request</h6><br><br>
                        <!-- <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                        <table class="table table-hover" cellspacing="2" cellpadding="2">
                            <thread>
                              <tr class="table-primary">
                                  <th scope="col">Customer Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Unit</th>
                                  <th scope="col">Message</th>
                                  <th colspan="2" scope="col">Action</th>
                              </tr>   
                              {% for i in data %}
                            </thread>
                            <tbody>
                              <tr>
                                  <td>{{i.customer.Username}}</td>
                                  <td>{{i.customer.Email}}</td>
                                  <td>{{i.Unit}}</td>
                                  <td>{{i.Message2}}</td>
    
                                  {% if i.status == 'pending' %}
                              <td><a href="/actionrequest?id={{i.id}}&status=1" class="btn btn-success">Approve</a></td>
                               
                              <td><a href="/rejectrequest?id={{i.id}}" class="btn btn-danger">Reject</a></td>
                              
                                {% else %}
                                <td>{{i.status}}</td>
                               
                            
                                  {% endif %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        td{
            color: black;
        }
    </style>
    <!-- Contact End -->
    {% endblock %}

   