{% extends 'Customer/common_cu.html' %}
{% load static %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">View Items</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/customerhome">Home</a></li>
                    <li class="breadcrumb-item text-white active">View Items</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid bg-light overflow-hidden px-lg-0">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-11 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div>
                        <h1 class="mb-4" style="margin-left: 500px;">View </h1>
                        <h6 class="text-primary" style="margin-left: 520px;">Items</h6><br><br>
                        <!-- <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                        <table class="table table-hover" cellspacing="2" cellpadding="2">
                            <thread>
                              <tr class="table-primary">
                                  <th scope="col">Date</th>
                                  <th scope="col">Productname</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Total</th>
                                  <th scope="col">Status</th>
                              </tr>   
                              {% for i in data %}
                            </thread>
                            <tbody>
                              <tr>
                                  <td>{{i.date}}</td>
                                  <td>{{i.solarproducts.Productname}}</td>
                                  <td>{{i.solarproducts.Price}}</td>
                                  <td>{{i.qty}}</td>
                                  <td>{{i.amt}}</td> 
                                  <td>{{i.status}}</td>  
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        td{
            color: black;
        }
    </style>
    <!-- Contact End -->
    {% endblock %}

   